<!DOCTYPE html>
<html>

   <head>
      <title>File Size</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         
         <h3>Select a file then hit submit to view its size. <br></h3>
         <form action="/filesize" method="post" enctype="multipart/form-data">
            <input type="file" name="uploadFile">
            <input type="submit">
         </form>
      </div>
   </body>

</html>
